* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;

}

.header {
    display: flex;
    padding: 20px;
}

.container {
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);

}

.quote-box {
    background: linear-gradient(white, whitesmoke);
    padding: 17px;
    font-size: 15px;
    font-weight: bold;
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    color: #764ba2;
    border-radius: 10px;
    border: solid 4px;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

button {
    background-color: #fff;
    color: #764ba2;
    border: solid 2px #764ba2;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 13px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background: #f1f1f1;
    transform: translateY(-2px);
}